body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
}

.quiz-container {
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 20px;
   width: 300px;
   text-align: center;
}

.quiz-header {
   margin-bottom: 20px;
}

.quiz-header h2 {
   margin: 0 0 10px;
}

ul {
   list-style-type: none;
   padding: 0;
}

li {
   margin: 10px 0;
   text-align: left;
}

label {
   margin-left: 5px;
}

button {
   background-color: #4CAF50;
   color: white;
   border: none;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
}

button:hover {
   background-color: #45a049;
}
